/* Font import */
/* ------------------------------------------------------------------------------------------------------------------------------ */

@font-face {
  font-family: "AvantGardeGothicMedium";
  src: url(../fonts/Medium.otf);
}

/* Color palette */
/* ------------------------------------------------------------------------------------------------------------------------------ */

:root {
  --white: #ffffff;
  --grey: #dfe4e5;
  --mint: #d4e9db;
  --green: #46aa64;
  --darkgreen: #379453;
  --navy: #0a3250;
  --black: #000000;
}

/* Elements */
/* ------------------------------------------------------------------------------------------------------------------------------ */

body {
  min-height: 100vh;
  font-family: 'AvantGardeGothicMedium';
  margin: 0;
}

button {
  font-family: 'AvantGardeGothicMedium';
  appearance: none;
  text-decoration: none;
  border: none;
  background: transparent;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

ul input {
  margin-right: 1em;
  transform: scale(1.5);
  margin-bottom: 0.7em;
}

input {
  font-family: 'AvantGardeGothicMedium';
}

a {
  text-decoration: none;
  color: unset;
}

/* General */
/* ------------------------------------------------------------------------------------------------------------------------------ */

.logo__duotone {
  color: var(--green);
}

.button {
  appearance: none;
  background-color: var(--green);
  border: 2px solid var(--darkgreen);
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  font-size: 0.7em;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
}

/* Header */
/* ------------------------------------------------------------------------------------------------------------------------------ */

.header {
  margin: 0;
  padding: 1em;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.header__homebutton {
  display: flex;
  justify-content: center;
}
 
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;

}

/* Form */
/* ------------------------------------------------------------------------------------------------------------------------------ */

.form {
  display: none;
  width: 75vw;
  margin: 0 auto;
  padding-bottom: 2em;
}

.form__header {
  font-size: 2em;
}

.form h6 {
  margin: 0;
  font-size: 1.2em;
}

.form__button {
  background-color: var(--white);
  border-radius: 4px;
  fill: var(--green);
  border: 1px solid var(--grey);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.form__range {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.show-filter {
  display: block;
}

.show {
  display: block;
}

.form__button svg:not(.show) {
  display: none;
}

/* Main */
/* ------------------------------------------------------------------------------------------------------------------------------ */

.main__header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1em auto;
  gap: 1em;
}

.main__searchbutton {
  margin: 0;
  padding: 0;
  border-radius: 4px;
}

.main__search svg {
  margin: 0;
  padding: 0.2em;
}

.advertisement__container {
  width: 90%;
  margin: 0 auto;
}

.advertisement {
  margin-bottom: 2em;
  background-color: var(--mint);
  padding: 1.5em;
  border-radius: 0 0 4px 4px;
}

.advertisement__left h3 {
  margin: 0;
}

.advertisement__info {
  display: flex;
  gap: 2em;
  margin: 0;
}

.advertisement__description {
  padding-bottom: 2em;
  border-bottom: 4px solid var(--green);

}

.advertisement__image {
  width: 100%;
  height: 12em;
  object-fit: cover;
  object-position: top;
  border-radius: 4px 4px 0 0;
}

.advertisement__link {
  display: flex;
  flex-direction: column;
}

/* Footer */
/* ------------------------------------------------------------------------------------------------------------------------------ */

.footer {
  background-color: var(--navy);
  color: var(--white);
  padding: 1em;
}

.footer h6 {
  margin: 0;
  font-size: 2em;
}

.footer__text {
  text-align: center;
  margin-bottom: 2em;
  border-bottom: 4px solid var(--white);
}

.footer__links {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
}

/* Checkbox */
/* ------------------------------------------------------------------------------------------------------------------------------ */

:checked {
  accent-color: var(--darkgreen);
}

/* Search bar */
/* ------------------------------------------------------------------------------------------------------------------------------ */

input[type=search] {
  border: none;
  padding: 0.6em 0.8em;
  background-color: inherit;
  border-radius: 8px;
  width: 8em;
}

input[type=search]:focus {
  outline: none;
}

.main__search {
  display: flex;
  align-items: center;
  background-color: #f4f4f5;
  border-radius: 8px;
}

.main__search:focus-within {
  outline: 2px solid var(--grey);
}

.main__searchbutton {
  background-color: inherit;
  border: none;
}

.main__searchbutton:hover {
  cursor: pointer;
}

/* Input range */
/* ------------------------------------------------------------------------------------------------------------------------------ */

input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #46AA64;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #3B8F54;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #46AA64;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #46AA64;
}


/* 404 page */
/* ------------------------------------------------------------------------------------------------------------------------------ */

.errorpage__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1em;
  min-height: 100vh;
}

.errorpage__main svg {
  margin-top: 2em;
  fill: var(--green);
}

.errorpage__main h1 {
  font-size: 10em;
  margin: 0;
  padding: 0;
}

.errorpage__main h2 {
  font-size: 5em;
  margin: 0;
  padding: 0;
}

.errorpage__message {
  padding-top: 2em;
}

.errorpage__duotone {
  color: var(--green);
}

.errorpage__main p {
  font-size: 2em;
  margin: 0;
}
.errorpage__main a {
  display: inline;
  margin: 0;
  color: var(--green);
}

.errorpage__main a:hover {
  text-decoration: underline;
  color: var(--green);
}

/* Media Queries */
/* ------------------------------------------------------------------------------------------------------------------------------ */

/* Tablet */

@media only screen and (min-width: 660px) and (max-width: 1023px) {
  .button {
    font-size: 1em;
  }

  .header__homebutton {
    font-size: 1.5em;
  }
  
  .main__content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
  }

  .main__header {
    gap: 0;
    margin: 2em auto;
  }

  .advertisement {
    height: 30em;
  }

  .advertisement__description {
    height: 14em;
  }

  .footer h6 {
    font-size: 2.5em;
  }

  input[type=search] {
    width: 28em;
    font-size: 1em;
  }
}

/* Tablet landscape */
@media only screen and (min-width: 1023px) and (max-width: 1600px) {
  .button {
    font-size: 1em;
  }

  .header__homebutton {
    font-size: 1.5em;
  }
  
  .main__content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
  }

  .main__header {
    gap: 0;
    margin: 2em auto;
  }

  .advertisement {
    height: 30em;
  }

  .advertisement__description {
    height: 10em;
  }

  .footer h6 {
    font-size: 2.5em;
  }

  input[type=search] {
    width: 28em;
    font-size: 1em;
  }
}

/* Laptop */

@media only screen and (min-width: 1600px) {

  .button {
    font-size: 1em;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 2em 4em 2em 4em;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  
  .header__nav {
    display: flex;
    align-items: center;
    font-size: 1.2em;
  }
  
  .header__nav a {
    margin: 0 2em 0 0;
  }
  
  .header__nav a:hover {
    color: var(--green);
    scale: 1.1;
    transition: 0.4s;
  }
  
  .header__homebutton {
    margin: 0;
  }

  .form {
    display: block;
    margin: 2em;
    padding: 1em;
    padding-right: 5em;
    border-right: 6px solid var(--grey);
    max-width: 20em;
  }
  
  .form h6 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 500;
  }
  
  .form__header {
    font-size: 1.6em;
    font-weight: bold;
  }

  .form__button {
    display: none;
  }
  
  .form label {
    font-size: 1em;
  }

  main {
    margin: 1em;
    display: flex;
    gap: 0;
  }

  .advertisement__link {
    display: flex;
    flex-direction: row;
  }

  .advertisement__image {
    width: 250px;
    height: 250px;
    object-fit: fill;
    border-radius: 16px 0 0 16px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  .advertisement {
    background-color: #d4e9db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 0 16px 16px 0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    max-height: 13em;
  }
  
  .advertisement__info {
    display: flex;
    align-items: center;
    border-left: 6px solid var(--green);
    padding-left: 2em;
    font-size: 1.2em;
    width: 80%;
  }
  
  .advertisement__left {
    margin-left: 1em;
  }
  
  .advertisement__right {
    width: 18em;
  }
  
  .advertisement__info p {
    padding-left: 1em;
  }
  
  .advertisement__description {
    border-bottom: none;
    padding-bottom: 0;
    max-width: 35em;
    margin-right: 2em;
    font-size: 1.1em;
  }

  .footer {
    background-color: var(--navy);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em 2em 4em;
  }
  
  .footer h6 {
    font-size: 2em;
    margin: 0;
  }
  
  .footer p {
    margin-top: 0.5em;
    margin-bottom: 0em;
  }

  .footer__text {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  
  .footer__links {
    border-left: 6px solid var(--white);
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  .footer__links a {
    margin: 0.4em;
    font-size: 1.2em;
  }
  
  .footer__links a:hover {
    color: var(--green);
    transition: 0.4s;
  }
  

  input[type=search] {
    width: 28em;
    font-size: 1em;
  }
}

/* Desktop */

/* @media only screen and (min-width: 1921px) */