@font-face {
  font-family: "AvantGardeGothicMedium";
  src: url(../fonts/Medium.otf);
}

:root {
  --white: #ffffff;
  --grey: #dfe4e5;
  --mint: #d4e9db;
  --green: #46aa64;
  --darkgreen: #379453;
  --navy: #0a3250;
  --black: #000000;
}
.button {
  appearance: none;
  background-color: var(--green);
  border: 2px solid var(--darkgreen);
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  font-size: 1em;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: var(--darkgreen);
  transition: 0.4s;
}

.logo__duotone {
  color: var(--green);
}

:checked {
  accent-color: var(--darkgreen);
}

h6 {
  font-size: 1.2em;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

ul input {
  margin-right: 1em;
  transform: scale(1.5);
  margin-bottom: 0.7em;
}

a {
  display: flex;
  margin: 3em 2em 0 0;
  text-decoration: none;
  color: unset;
}

body {
  font-family: 'AvantGardeGothicMedium';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em 4em 2em 4em;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.header__nav {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.header__nav a {
  margin: 0 2em 0 0;
}

.header__nav a:hover {
  color: var(--green);
  scale: 1.1;
  transition: 0.4s;
}

.header__homebutton {
  margin: 0;
}

.form {
  margin: 2em;
  padding: 1em;
  padding-right: 5em;
  border-right: 6px solid var(--grey);
}

.form h6 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.form__header {
  font-size: 1.6em;
  /* font-size: 2em; */
  font-weight: bold;
}

.form label {
  /* font-size: 2em; */
  font-size: 1em;
}

.form__range {
  display: flex;
  justify-content: space-between;
}

main {
  margin: 1em;
  display: flex;
  /* gap: 10em; */
  gap: 5em;
}

.main h3 {
  font-size: 2em;
  margin: 0.5em 0 0.5em 0;
}

.main__header {
  display: flex;
  margin: 2em;
  margin-left: 0;
  justify-content: space-between;
}

.advertisement {
  background-color: #d4e9db;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 0 16px 16px 0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  /* width: 80em; */
}

.advertisement__info {
  display: flex;
  align-items: center;
  border-left: 6px solid var(--green);
  padding-left: 2em;
  font-size: 1.2em;
  width: 80%;
}

.advertisement__left {
  /* margin-left: 2em; */
  margin-left: 1em;
}

.advertisement__right {
  width: 18em;
}

.advertisement__info p {
  padding-left: 1em;
}

.advertisement__explanation {
  /* max-width: 45em; */
  max-width: 35em;
  font-size: 1.1em;
}

.advertisement__image {
  width: 250px;
  height: auto;
  border-radius: 16px 0 0 16px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.footer {
  background-color: var(--navy);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em 2em 4em;
}

.footer h6 {
  font-size: 2em;
  margin: 0;
}

.footer p {
  margin-top: 0.5em;
}

.footer__links {
  border-left: 6px solid var(--white);
  padding: 1em;
}

.footer__links a {
  margin: 1em;
  font-size: 1.2em;
}

.footer__links a:hover {
  color: var(--green);
  transition: 0.4s;
}

/* RESPONSIVE DESIGN */

/* @media only screen and (max-width: 1024px) {
  .advertisement {
    max-width: 40em;
  }
} */

/* SEARCH BAR STYLE */

input[type=search] {
  border: none;
  padding: 1.2em 1em;
  background-color: inherit;
  border-radius: 8px;
}

input[type=search]:focus {
  outline: none;
}

.main__search {
  display: flex;
  align-items: center;
  background-color: #f4f4f5;
  border-radius: 8px;
}

.main__search:focus-within {
  outline: 2px solid var(--grey);
}

.main__search svg {
  margin-right: 1em;
}

.main__searchbutton {
  background-color: inherit;
  border: none;
}

.main__searchbutton:hover {
  cursor: pointer;
}

/* INPUT RANGE STYLING */
/* SRC: */
input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #46AA64;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #3B8F54;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #46AA64;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #46AA64;
}

/* 404 PAGE */

.errorpage__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1em;
}

.errorpage__main svg {
  margin-top: 2em;
  fill: var(--green);
}

.errorpage__main h1 {
  font-size: 10em;
  margin: 0;
  padding: 0;
}

.errorpage__main h2 {
  font-size: 5em;
  margin: 0;
  padding: 0;
}

.errorpage__message {
  padding-top: 2em;
}

.errorpage__duotone {
  color: var(--green);
}

.errorpage__main p {
  font-size: 2em;
  margin: 0;
}
.errorpage__main a {
  display: inline;
  margin: 0;
  color: var(--green);
}

.errorpage__main a:hover {
  text-decoration: underline;
  color: var(--green);
}